#feature-h1 {
  position:absolute;
  top: 20%;
  left: 58%;  
}

.feature_show {
    text-align: center;
    border: 1px solid #000;
    width: 25%;
    height:40%;
    overflow: auto;
    position: absolute;
    top: 30%;
    left: 50%;
}

.notes {
    width: 25%;
    height:auto;
    overflow-y: auto;
    position:absolute;
    left: 20%;
    top: 20%;
    text-align: center;
}

.text-area {
    resize: none;
    height: 40vh;
    width: 95%;
    overflow-y: hidden;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h3 > a {
    text-decoration: none;
    color: black;
}

h3 > a:hover {
    text-decoration: underline;
    color:darkgrey;
}

.home-page {
    position:absolute;
    top:5%;
    left:5%;
}

.home-page > a {
    text-decoration: none;
    color: black;
}

.home-page > a:hover {
    text-decoration: underline;
    color:darkgrey;   
}
