h2 {
    text-align: center;
}

.link {
    text-align: center;
}

.notes {
    width: 25%;
    height:auto;
    overflow: auto;
    position:absolute;
    left: 15%;
    top: 20%;
    text-align: center;
}

.notes > textarea {
    resize: none;
    height: 40vh;
}

.feature {
    position:absolute;
    top: 20%;
    left: 43%;
}

.feature_show {
    border: 1px solid #000;
    width: 20%;
    height:35%;
    overflow: auto;
    position: absolute;
    top: 35%;
    left: 40%;
}