h2 {
    text-align: center;
}

.link {
    text-align: center;
}

.notes {
    width: 25%;
    height:auto;
    overflow: auto;
    position:absolute;
    left: 15%;
    top: 20%;
    text-align: center;
}

.notes > textarea {
    resize: none;
    height: 40vh;
}

.feature {
    position:absolute;
    top: 20%;
    left: 43%;
}

.feature_show {
    border: 1px solid #000;
    width: 20%;
    height:35%;
    overflow: auto;
    position: absolute;
    top: 35%;
    left: 40%;
}

h3 > a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

h3 > a:hover {
    text-decoration: underline;
    color:darkgrey;
}

.done_feature {
    border: 1px solid #000;
    width: 25%;
    height:40%;
    overflow: auto;
    position: absolute;
    top: 30%;
    left: 63%;

}

.done_f {
    position: absolute;
    top: 20%;
    left: 70%;
}

.feature-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin-bottom: 10px;
}

.feature-item h2 {
    margin-right: 10px;
}
