a {
    text-decoration: none;
    color: black;
}

.sure {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 40%;
    left: 52%;
    background-color: lightgrey;
}

h2 {
    text-align: center;
}

.not-sure {
    background-color: lightgrey;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;
    position: absolute;
    top: 40%;
    left: 22%;
}