{% extends "projects_shown/base.html" %}
{% load static %}

{% block title %}

<title>Home page</title>
<link rel="stylesheet" href="{% static 'projects_shown/css/index.css' %}">

{% endblock title %}



{% block body %}


<div class="user"><h3>{{user.username}}</h3></div>

<h2>Projects</h2>

<div class="add">
    <a href="{% url 'add' %}">+</a>
</div>

<div class="projects-all">
{% for p in projects %}


<div class="project-card">
    <a href="{% url 'projects' project_name=p.name %}">{{forloop.counter}} - {{p.name}}</a>
</div>


{% endfor %}


</div>

<div class="logout">
    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
</div>

{% endblock body %}