{% extends "projects_shown/base.html" %}
{% load static %}

{% block title %}
<title>Home page</title>
<link rel="stylesheet" href="{% static 'projects_shown/css/index.css' %}">
{% endblock title %}

{% block body %}
<div class="container">

    <div class="user">
        <i class="fa-regular fa-user fa-2x"></i>
        <h2>{{ user.username }}</h2>
    </div>

    <div class="header">
        <h2>Projects</h2>
    </div>
    <div class="project-links">
        <a href="{% url 'projects_shown:dones' %}">Done Projects</a>
        <a href="{% url 'show_project:index_show' %}">See Project</a>
    </div>
    <div class="add-button">
        <a href="{% url 'projects_shown:add' %}"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="projects-all">
        {% for p in projects %}
        <div class="project-card">
            <a href="{% url 'projects_shown:projects' project_name=p.name %}">{{forloop.counter}} - {{p.name}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="logout">
        <a href="{% url 'authentication:logout' %}"><i class="fa-solid fa-right-from-bracket fa-2x"></i></a>
    </div>
</div>
{% endblock body %}
