{% extends 'projects_shown/base.html' %}
{% load static %}

{% block title %}
<title>Project</title>
<link rel="stylesheet" href="{% static 'projects_shown/css/project.css' %}">
{% endblock title %}

{% block body %}
<div class="container">
    <div class="home-page">
        <a href="{% url 'projects_shown:index' %}"><i class="fa-solid fa-house fa-2x"></i></a>
    </div>

    <div class="project-header">
        <h2>{{ project.name }}</h2>
        <br>
        <h3>Token: {{ project.token }}</h3>
        <div class="link">
            <h3>Link: <a href="{{ project.link }}" target="_blank">{{ project.link }}</a></h3>
        </div>
    </div>

    <div class="main-content">
        <div class="notes">
            <h2>Notes</h2>
            <br>
            <form method="post" action="{% url 'projects_shown:add_text' project_name=project.name %}">
                {% csrf_token %}
                <textarea class="text-area" name="text-area">{{ project.notes }}</textarea>
                <br>
                <br>
                <div class="button-container">
                    <button type="submit" class="btn">Save</button>
                </div>
            </form>
        </div>
        
        <div class="features">
            <h2>Features</h2>
            <div class="adding">
                <form method="post" action="{% url 'projects_shown:add_feature' project_name=project.name feature=feature_form.feature_add.value %}">
                    {% csrf_token %}
                    {{ feature_form.feature_add }}
                    <button type="submit" class="done-btn-small">+</button>
                </form>
            </div>
            
            <div class="feature-list">
                {% for f in features.all %}
                {% if not f.feature_done %}
                <div class="feature-item">
                    <h3><a href="{% url 'projects_shown:feature_page' project_name=project.name feature_id=f.id %}">{{ forloop.counter }}-{{ f }}</a></h3>
                    <div class="utils">
                        <form method="post" action="{% url 'projects_shown:feature_done' project_name=project.name feature_id=f.id %}">
                            {% csrf_token %}
                            <button type="submit" class="done-btn">+</button>
                        </form>
                        <form method="post" action="{% url 'projects_shown:feature_delete' project_name=project.name feature_id=f.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="done-features">
            <h2 style="text-align: center;">Done Features</h2>
            <div class="done-feature-list">
                {% for df in done_features %}
                <h3>{{ forloop.counter }}-{{ df }}</h3>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="project-finished">
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'projects_shown:sure' project_name=project.name %}" class="finish-a">Finish Project</a>
        </form>
    </div>
</div>
{% endblock body %}
